{% extends "photologue/base.html" %}
{% load i18n %}

{% block title %}{{ database.title }}{% endblock %}

{% block content %}

<div class="row col-lg-12">
    <h2 class="page-header">{{ database.title }}</h2>
    <p class="muted">
        <small>{% trans "Published" %} {{ database.date_added }}</small>
    </p>
    <h4>Description</h4>
    <p style="text-indent: 3%">
        {% if database.description %}
        {{ database.description }}
        {% else %}
        --
        {% endif %}
    </p>

    <h4>
        <a href="{% url 'photologue:database_edit' database.slug %}">
            Edit database
        </a>
    </h4>

    <h4>
        <a href="{% url 'photologue:database_index_create'%}?database={{ database.slug }}">
            Create new index for database
        </a>
    </h4>

    <h4>
        <a href="{% url 'photologue:database_index_info'%}?database={{ database.slug }}">
            Indexes info
        </a>
    </h4>

    <h4>
        <a href="{% url 'photologue:event_create' %}?database={{database.slug}}">
            Create new event
        </a>
    </h4>

    <h4>Events</h4>
    <ul>
        {% if events %}
        {% for event in events %}
        <li>
            <a href="{{ event.get_absolute_url }}">
                {{ event.title }}
            </a>
        </li>

        {% endfor %}
        {% else %}
        --
        {% endif %}
    </ul>


    <h4>Photos</h4>
    <ul>
        {% if database.sample_photos %}
        {% for photo in database.sample_photos %}
        <li>
            <a href="{{ photo.get_absolute_url }}">
                {{ photo }}
            </a>
            <br>
            <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">

        </li>
        {% endfor %}
        {% else %}
        --
        {% endif %}
    </ul>


    <div><a href="{% url 'photologue:database_list' %}" class="btn btn-default">{% trans "All databases" %}</a></div>
</div>

{% endblock %}
