{% extends "photologue/base.html" %}
{% load i18n %}

{% block title %}{{ database_index.title }}{% endblock %}

{% block content %}

<div class="row col-lg-12">
    <h2 class="page-header">{{ database_index.title }}</h2>
    <p class="muted">
        <small>{% trans "Published" %} {{ database_index.date_added }}</small>
    </p>

    <h4>Status</h4>
    <p style="text-indent: 3%">{{status|upper}}</p>

    {% if database_index.description %}
    <h4>Description</h4>
    <p style="text-indent: 3%">{{ database_index.description }}</p>
    {% endif %}

    {% block index_detail_content %}
    {% endblock %}

    <div><a href="{% url 'photologue:database_index_info' %}?database={{database_index.database.slug}}" class="btn btn-default">
        {{ database_index.database }} indexes info </a></div>
</div>

{% endblock %}
