{% extends "photologue/base.html" %}
{% load i18n %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}

	<div class="row col-lg-12">
        <h1 class="page-header">{{ event.title }}</h1>
        <p class="muted"><small>{% trans "Published" %} {{ event.date_added }}</small></p>
        {% if event.description %}{{ event.description|safe }}{% endif %}

        {% if query_photos %}
                <p>Query photos</p>
                {% for query in query_photos %}
                    <p>{{ query.slug }} </p>
                    <p>{{ query }}</p>
                {% endfor %}
        {% else %}
            <p>No query photos</p>
        {% endif %}

        {% if photos %}
            <p>Result photos</p>
            {% for photo in photos %}
                <p>{{ photo.slug }} </p>
                <p>{{ photo }} </p>
                <!--<img src="todo" class="todo" alt="{{ photo.slug }}">-->
            {% endfor %}
        {% else %}
            <p>No result photos</p>
        {% endif %}

        <div><a href="{% url 'photologue:database_detail' event.database.slug %}" class="btn btn-default">{% trans "View all events in database" %}</a></div>
	</div>

{% endblock %}
